body {
    margin: 0;
    font-family: Arial, serif;
    background: url(./images/sky-bg.jpg);
    animation: 15s linear 0s normal none infinite animate;
}

@keyframes animate {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 1000px 0;
    }
}

.header {
    text-align: center;
    background: #ffffff66;
    padding: 10px 100px;
}

@font-face {
    font-family: '04b30';
    src: url('./title-font/04b_30__-webfont.woff2') format('woff2'), url('./title-font/04b_30__-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.header h1 {
    font-family: '04b30', Arial, sans-serif;
    font-style: normal;
    margin: 0;
}

.display h2 {
    margin: 10px 0 0 0;
}

.container {
    text-align: center;
}

.map {
    background: black;
    width: 80vh;
    margin: 30px 0;
    display: inline-block;
    box-shadow: 0 0 20px 4px rgba(0, 0, 0, 0.75);
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.map table {
    width: 80vh;
    background: black;
}

.map table td img {
    vertical-align: middle;
    width: 100%;
}